/* Importing a Google Font */

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500&display=swap');

/* Changing the main font and background colour */

body {
	font-family: Raleway, sans-serif;
	background-color: #FFFFFF;
}

.container {
  position: relative;
  text-align: center;
  color: black;
}

/* Bottom left text */
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

/* Bottom right text */
.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

.campaignmargin {
	margin-bottom: 60px;
}

/* Changing the background colour for the header */

header {
	background-color: #FFFFFF;
}

/* Changing the background color for the navigation bar */

.navbar {
	background-color: #FFFFFF;
}

/* Effect on social media buttons */

footer a:hover {
	opacity: .5;
}


.margin {
}
